@import url(http://fonts.googleapis.com/css?family=Bangers|Roboto+Condensed:400italic,400,700);
/* estilos estructura */
body {
	margin: 0px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #57483C;
	font-size:11pt;
}
h1 {
	font-family: 'Bangers', cursive;
	font-weight: normal;
}
#logo {
	background: url(iconAfraid.png) no-repeat;
	background-size: 60px 60px;
	height: 60px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	line-height: 70px;
	font-size: 30pt;
	padding-left: 60px;
}
/*EStilos genericos de mis envolturas*/

.fondo {
	display: block;
	clear: both;
	float: left;
	width: 100%;
}
.envolturaGenerica {
	margin: 0 auto;
	width: 1000px;
}
#envolturaCabezote {
	background-color: #fff;
}
#cabezote p {
	margin: 0px;
	margin-left: 60px;
	padding-bottom: 30px;
	width: 50%;
}
#envolturaCabezote .envolturaGenerica #cabezote {
	background-image: url(bg_header.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}
#envolturaOtros {
	background-color: #253640;
	color:#fff;
}
#todosFiltros .filtrosVuelos{
	display:block;
	clear:none;
	float:left;
	width:17%;
	margin:0 1.5% 1.5% 1.5%;
	
}

.filtrosVuelos h3{
	padding:0;
	margin:0;
	color: #E9D9CC;
}
.filtrosVuelos div{
	padding:10px 0px;
	
}

input#Filter{
	width:100px;
	height:40px;
	display:block;
	clear:both;
	float:right;
	color:#FFFFFF;
	background-color:#F20057;
	border:solid 1px #000000;
	font-size:14pt;
	
}
#envolturaFooter {
	background-color: #57483C;
	min-height: 20px;
}
/* Estilos mapa */

#envolturaMapa {
	background-color: #253640;
	background-repeat: no-repeat;
	background-position: center top;
}
#mapa {
	margin: 20px;
	width: 1000px;
	height: 500px;
	background-color: #C6DAE6;
	font-weight: 700;
	box-shadow: 0px 0px 10px #B9B9B9;
}
svg text {
	font-size: 12px;
	font-weight: normal;
}
path {
	stroke: white;
	stroke-width: 0.25px;
	fill: #C7BFB9;
}

circle:hover {
	fill: #F49348 !important;
}
.tooltip {
	background-color: rgba(255,255,255,0.9);
	margin: 5px;
	height: auto;
	width: 200px;
	padding: 5px;
	box-shadow: 0px 0px 5px #4F4F4F;
	font-size: 12px;
}
.tootltipResaltado{
	color:#F49348;
	
}
.infoFlight{
	background-color: #DFE5E8;
	padding:2px;
	
}
